* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
	width: 100%;
	float: right;
	font-size: 20px;
	padding: 20px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-color: #2a607c;
	color: #ffffff;
	display: flex;
	flex-wrap: wrap;
}

main {
	width: 100%;
}

.header h1 {
	display: inline;
	font-size: 48px;
}
/*changes color of SEO in HORISEON title*/
.header h1 .seo {
	color: #d9dcd6;
}
/*Changed from div to header*/

/*Changed from div to nav*/
.header nav ul {
	list-style-type: none;
/*Updated with margin to fix header spacing between anchors and header*/
	margin: 5px 45px 5px 271px;
}

.header nav ul li {
	display: inline-block;
	margin-left: 25px;
	font: 10px;
}

.header nav ul li a {
	color: #ffffff;
	text-decoration: none;
}
.hero {
	height: 800px;
	width: 100%;
	margin-bottom: 25px;
	background-image: url("../images/digital-marketing-meeting.jpg");
	background-size: cover;
	background-position: center;
}
/*changed from inline-block to inline*/
.services-overview {
	width: 75%;
	display: inline-block;
	margin-left: 20px;
}
.services {
	margin-bottom: 20px;
	padding: 50px;
/*added height and margin to align aside column with article column*/
	height: 300px;
	width: auto;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color: #0072bb;
	color: #ffffff;
}

.services img {
	max-height: 200px;
}
/*cosolidated ids*/
.services h2 {
	margin-bottom: 20px;
	font-size: 36px;
}

.float-left {
	float: left;
	margin-right: 25px;
}

.float-right {
	float: right;
	margin-left: 25px;
}

/*deleted extra benefit classes and consolidated into one class*/
.benefits {
  color: #ffffff;
	margin-right: 20px;
	padding: 0px;
	clear: both;
	float: right;
	width: 20%;
	height: 1000px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color: #2589bd;		
}

/*changed from h3 to h4*/
.benefits h3 {
		margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
		font-size: 15px;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*added benefits p style to make text align left*/
/*added margin to line up with the article section*/
.benefits p {
	text-align: left;
	margin-left: 10px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*changed from h2 to h4*/
.footer h4 {
    font-size: 20px;
}
